<div class="card flex justify-content-center">
      <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
            [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
</div>
<div class="bg-gray-50 dark:bg-neutral-900 pt-20">

      <!-- ========== MAIN CONTENT ========== -->
      <!-- Breadcrumb -->

      <!-- End Breadcrumb -->



      <!-- Content -->
      <div class="w-full lg:ps-32 lg:pe-32">
            <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
                  <!-- Grid -->
                  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
                        <!-- Card -->
                        <div
                              class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <div class="p-4 md:p-5">
                                    <div class="flex items-center gap-x-2">
                                          <p
                                                class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                                Số đơn hàng cần lấy
                                          </p>
                                    </div>

                                    <div class="mt-1 flex items-center gap-x-2">
                                          <h3
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                {{countShipment?.PICKUP_SCHEDULED}}
                                          </h3>
                                    </div>
                              </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div
                              class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <div class="p-4 md:p-5">
                                    <div class="flex items-center gap-x-2">
                                          <p
                                                class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                                Số đơn hàng đang lấy
                                          </p>
                                    </div>

                                    <div class="mt-1 flex items-center gap-x-2">
                                          <h3
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                {{countShipment?.OUT_FOR_PICKUP}}
                                          </h3>
                                    </div>
                              </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div
                              class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <div class="p-4 md:p-5">
                                    <div class="flex items-center gap-x-2">
                                          <p
                                                class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                                Số đơn hàng cần giao
                                          </p>
                                    </div>

                                    <div class="mt-1 flex items-center gap-x-2">
                                          <h3
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                {{countShipment?.DELIVERY_SCHEDULED}}
                                          </h3>
                                    </div>
                              </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div
                              class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <div class="p-4 md:p-5">
                                    <div class="flex items-center gap-x-2">
                                          <p
                                                class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                                Số đơn hàng đang giao
                                          </p>
                                    </div>

                                    <div class="mt-1 flex items-center gap-x-2">
                                          <h3
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                {{countShipment?.OUT_FOR_DELIVERY}}
                                          </h3>
                                    </div>
                              </div>
                        </div>
                        <!-- End Card -->
                  </div>
                  <!-- End Grid -->

                  <div class="grid lg:grid-cols-2 gap-4 sm:gap-6">
                        <!-- Card -->
                        <div
                              class="p-4 md:p-5 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <!-- Header -->
                              <div class="flex justify-between items-center">
                                    <div>
                                          <h2 class="text-sm text-gray-500 dark:text-neutral-500">
                                                Tổng số đơn hàng đã lấy
                                          </h2>
                                          <p
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                TBD
                                          </p>
                                    </div>
                              </div>
                              <!-- End Header -->

                              <div id="hs-multiple-bar-charts"></div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div
                              class="p-4 md:p-5 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                              <!-- Header -->
                              <div class="flex justify-between items-center">
                                    <div>
                                          <h2 class="text-sm text-gray-500 dark:text-neutral-500">
                                                Tổng số đơn hàng đã giao
                                          </h2>
                                          <p
                                                class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
                                                TBD
                                          </p>
                                    </div>
                              </div>
                              <!-- End Header -->

                              <div id="hs-single-area-chart"></div>
                        </div>
                        <!-- End Card -->
                  </div>

                  <!-- Card -->
                  <div class="flex flex-col">
                        <!-- Header -->
                        <div
                              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-neutral-700">
                              <div>
                                    <h2 class="text-xl font-semibold text-gray-800 dark:text-neutral-200">
                                          Quản lý đơn hàng
                                    </h2>
                                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                                          Xác nhận, quản lý và điều phối đơn hàng.
                                    </p>
                              </div>
                              <div>
                                    <div class="inline-flex gap-x-2">
                                          <form [formGroup]="searchShipmentForm" (ngSubmit)="searchShipment($event)">
                                                <div class="flex items-center justify-content-center">

                                                      <div
                                                            class="flex items-center w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-300 focus-within:ring-blue-400">

                                                            <input type="text" placeholder="Search by tracking number"
                                                                  formControlName="searchedShipment"
                                                                  class="my-2 w-full border-none bg-transparent outline-none focus:outline-none">
                                                            <i (click)="searchShipment($event)"
                                                                  class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                                                      </div>
                                                </div>


                                          </form>
                                    </div>
                              </div>
                        </div>
                        <div class="-m-1.5 overflow-x-auto pt-5">
                              <div class="p-1.5 min-w-full inline-block align-middle">
                                    <p-tabMenu [model]="tabItems"
                                          styleClass="-m-1.5 border-b-2 border-gray-200 overflow-x-auto">
                                          <ng-template pTemplate="item" let-item>
                                                <ng-container>
                                                      <a class=" w-fit align-middle p-menuitem-link flex justify-center items-center p-2 rounded-lg cursor-pointer px-2 mx-1"
                                                            [ngClass]="{
                                                                  'border-b-4 border-red-500 text-red-400 font-bold': item.id === activeTabItem,
                                                                  'bg-gray-100 text-gray-800 hover:border-b-4 hover:border-red-300   hover:text-red-300': item.id !== activeTabItem
                                                                  }">
                                                            <span class="ml-2">
                                                                  {{ item.label }}
                                                                  <p-badge *ngIf="item.badge && item.badge!=='0'"
                                                                        class="ml-auto "
                                                                        styleClass="bg-red-500 text-white "
                                                                        [value]="item.badge" />
                                                            </span>
                                                      </a>
                                                </ng-container>
                                          </ng-template>
                                    </p-tabMenu>
                              </div>
                        </div>

                        <!-- End Header -->
                        <div class="-m-1.5 overflow-x-auto pt-5">
                              <div class="p-1.5 min-w-full inline-block align-middle">
                                    <div
                                          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-800 dark:border-neutral-700">


                                          <!-- Table -->
                                          <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
                                                <thead class="bg-gray-50 dark:bg-neutral-800">
                                                      <tr>
                                                            <th scope="col" class="px-4 py-3 text-start">
                                                                  <label for="hs-at-with-checkboxes-main" class="flex">
                                                                        <div class="flex items-center justify-center">
                                                                              <span
                                                                                    class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                                    Tracking number
                                                                              </span>
                                                                        </div>
                                                                  </label>
                                                            </th>

                                                            <th scope="col"
                                                                  class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3 text-start">
                                                                  <div class="flex items-center gap-x-2">
                                                                        <span
                                                                              class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                              Name
                                                                        </span>
                                                                  </div>
                                                            </th>

                                                            <th scope="col"
                                                                  class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3 text-start">
                                                                  <div class="flex items-center gap-x-2">
                                                                        <span
                                                                              class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                              Receipent Name
                                                                        </span>
                                                                  </div>
                                                            </th>

                                                            <th scope="col" class="px-6 py-3 text-start">
                                                                  <div class="flex items-center gap-x-2">
                                                                        <span
                                                                              class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                              Pick-up Address
                                                                        </span>
                                                                  </div>
                                                            </th>
                                                            <th scope="col" class="px-6 py-3 text-start">
                                                                  <div class="flex items-center gap-x-2">
                                                                        <span
                                                                              class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                              Receipent Address
                                                                        </span>
                                                                  </div>
                                                            </th>

                                                            <th scope="col" class="px-6 py-3 text-start">
                                                                  <div class="flex items-center gap-x-2">
                                                                        <span
                                                                              class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200">
                                                                              Receipent phone number
                                                                        </span>
                                                                  </div>
                                                            </th>

                                                            <th scope="col" class="px-6 py-3 text-end"></th>
                                                      </tr>
                                                </thead>

                                                <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                                                      @for (shipment of paginatedShipmentSignal()?.content; track
                                                      $index) {
                                                      <tr class="hover:bg-gray-200 cursor-pointer"
                                                            (click)="openShipmentInforModal(shipment)">
                                                            <td class="size-px whitespace-nowrap">
                                                                  <div class="px-4 py-3">
                                                                        <label for="hs-at-with-checkboxes-1"
                                                                              class="flex">
                                                                              <span>#{{shipment.code}}</span>
                                                                        </label>
                                                                  </div>
                                                            </td>
                                                            <td class="size-px whitespace-nowrap">
                                                                  <div class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3">
                                                                        <div class="flex items-center gap-x-3">

                                                                              <div class="grow">
                                                                                    <span
                                                                                          class="block text-sm  text-gray-800 dark:text-neutral-200">
                                                                                          {{shipment.name}}
                                                                                    </span>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </td>
                                                            <td class="size-px whitespace-nowrap">
                                                                  <div class="ps-6 lg:ps-3 xl:ps-0 pe-6 py-3">
                                                                        <div class="flex items-center gap-x-3">
                                                                              <div class="grow">
                                                                                    <span
                                                                                          class="block text-sm  text-gray-800 dark:text-neutral-200">
                                                                                          {{shipment.recipientName}}
                                                                                    </span>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </td>
                                                            <td class="h-px w-72 whitespace-nowrap">
                                                                  <div class="px-6 py-3">
                                                                        <span
                                                                              class="block text-sm text-gray-500 dark:text-neutral-500">
                                                                              {{shipment.pickUpAddress}}
                                                                        </span>
                                                                  </div>
                                                            </td>
                                                            <td class="h-px w-72 whitespace-nowrap">
                                                                  <div class="px-6 py-3">
                                                                        <span
                                                                              class="block text-sm text-gray-500 dark:text-neutral-500">{{shipment.recipientAddress}}</span>
                                                                  </div>
                                                            </td>
                                                            <td class="h-px w-28 whitespace-nowrap">
                                                                  <div class="px-6 py-3">
                                                                        <span
                                                                              class="block text-sm font-semibold text-gray-800 dark:text-neutral-200">
                                                                              {{shipment.recipientPhone}}
                                                                        </span>
                                                                  </div>
                                                            </td>
                                                            <td class="size-px whitespace-nowrap "
                                                                  (click)="toggleShipmentMenu($event, shipment)">
                                                                  <div
                                                                        class="flex items-center justify-center px-4 py-1.5 cursor-pointer transform transition-transform duration-100 hover:scale-150">
                                                                        <i class="fa-solid fa-bars "></i>

                                                                  </div>
                                                                  <p-menu #shipmentMenu [model]="shipmentMenuItems"
                                                                        [popup]="true"
                                                                        [style]="{ minWidth: '200px', width:  'fit-content'}"
                                                                        [appendTo]="'body'">
                                                                        <ng-template pTemplate="item" let-item
                                                                              let-root="root">

                                                                              <a pRipple
                                                                                    class="flex align-items-center p-menuitem-link"
                                                                                    [ngClass]="item.styleClass">
                                                                                    <span [class]="item.icon"></span>
                                                                                    <span class="ml-2">{{
                                                                                          item.label }}</span>
                                                                                    <span *ngIf="item.shortcut"
                                                                                          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{
                                                                                          item.shortcut }}</span>
                                                                                    <i *ngIf="item.items"
                                                                                          [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                                                                              </a>
                                                                        </ng-template>
                                                                  </p-menu>
                                                            </td>
                                                      </tr>
                                                      }


                                                </tbody>
                                          </table>
                                          <!-- End Table -->

                                          <!-- Footer -->
                                          <div
                                                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700">
                                                <div>
                                                      <p class="text-sm text-gray-600 dark:text-neutral-400">
                                                            Showing
                                                            <span
                                                                  class="font-semibold text-gray-800 dark:text-neutral-200">{{paginatedShipmentSignal()?.number!*paginatedShipmentSignal()?.size!}}</span>
                                                            -
                                                            <span
                                                                  class="font-semibold text-gray-800 dark:text-neutral-200">{{paginatedShipmentSignal()?.number!*paginatedShipmentSignal()?.size!
                                                                  +
                                                                  paginatedShipmentSignal()?.numberOfElements!}}</span>
                                                            of
                                                            <span
                                                                  class="font-semibold text-gray-800 dark:text-neutral-200">{{paginatedShipmentSignal()?.totalElements}}</span>
                                                            results
                                                      </p>
                                                </div>

                                                <div>
                                                      <div class="inline-flex gap-x-2">
                                                            <button [disabled]="paginatedShipmentSignal()?.first"
                                                                  (click)="previousPage()"
                                                                  class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                                                                  <i class="fa-solid fa-chevron-left"></i>
                                                                  Prev
                                                            </button>

                                                            <button [disabled]="paginatedShipmentSignal()?.last"
                                                                  (click)="nextPage()"
                                                                  class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                                                                  Next
                                                                  <i class="fa-solid fa-chevron-right"></i>
                                                            </button>
                                                      </div>
                                                </div>
                                          </div>
                                          <!-- End Footer -->
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- End Card -->
            </div>
      </div>
      <!-- End Content -->
      <p-dialog header="Shipment information" [(visible)]="isShipmentInforOpenSignal" [modal]="true" [closable]="false"
            [styleClass]="' p-4 rounded-2xl bg-white'" [breakpoints]="{
'10000px': '50vw',
'1200px': '60vw',
'1199px': '75vw',
'575px': '90vw',
}" [draggable]="false" [resizable]="false" [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                  <div
                        class="inline-flex align-items-center justify-content-center gap-2 border-b-1 border-gray-400 shadow-md">
                        <span class="font-bold white-space-nowrap text-xl ">
                              Thông tin đơn hàng
                        </span>
                        <div class="ml-3 text-blue-600 gap-2 border-b-2 border-blue-400">
                              <a [routerLink]="['/shipment-info', selectedShipment?.code]">Xem chi tiết</a>
                        </div>
                  </div>
            </ng-template>
            <div>
                  <div>
                        <div class="mt-2 space-y-3">


                              <div
                                    class="p-4 space-y-3 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex flex-col sm:flex-row w-full">
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Tên đơn hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.name}}
                                                      </p>
                                                </div>
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Mã đơn hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            #{{selectedShipment?.code}}
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex flex-col sm:flex-row w-full">
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Số tiền cần thanh toán
                                                      </h2>
                                                      @if (!selectedShipment?.needToPay) {
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-red-500 dark:text-neutral-200">
                                                            Chưa cập nhật
                                                      </p>
                                                      } @else {
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.needToPay}} VNĐ
                                                      </p>
                                                      }

                                                </div>
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Tình trạng thanh toán
                                                      </h2>
                                                      @if (selectedShipment?.isPaid) {
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-green-500 dark:text-neutral-200">
                                                            Đã thanh toán
                                                      </p>
                                                      } @else {
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-red-600 dark:text-neutral-200">
                                                            Chưa thanh toán
                                                      </p>
                                                      }

                                                </div>
                                          </div>
                                    </div>
                                    <!-- Header -->
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex flex-col sm:flex-row w-full">
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Tên người gửi
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.username}}
                                                      </p>
                                                </div>
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Số điện thoại người gửi
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            TBD
                                                      </p>
                                                </div>
                                          </div>
                                          <div class="flex justify-start items-center ">
                                                <div class="px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Địa chỉ lấy hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.pickUpAddress}}
                                                      </p>
                                                </div>

                                          </div>
                                    </div>
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex flex-col sm:flex-row w-full">
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Tên người nhận
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.recipientName}}
                                                      </p>
                                                </div>
                                                <div class="w-full sm:w-1/2 px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Số điện thoại người nhận
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.recipientPhone}}
                                                      </p>
                                                </div>
                                          </div>
                                          <div class="flex justify-start items-center ">
                                                <div class="px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Địa chỉ nhận hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.recipientAddress}}
                                                      </p>
                                                </div>

                                          </div>
                                    </div>
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex justify-start items-center ">
                                                <div class="px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Địa chỉ kho tiếp nhận
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.originWarehouseAddress}}
                                                      </p>
                                                </div>

                                          </div>
                                    </div>

                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex justify-start items-center ">
                                                <div class="px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Địa chỉ kho giao hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.destinationWarehouseAddress}}
                                                      </p>
                                                </div>

                                          </div>
                                    </div>
                                    <div
                                          class="  p-2 flex flex-col bg-white border-2 border-gray-200 shadow-sm rounded-xl dark:bg-neutral-800 dark:border-neutral-700">
                                          <div class="flex justify-start items-center ">
                                                <div class="px-2">
                                                      <h2 class="text-base text-gray-500 dark:text-neutral-500">
                                                            Ghi chú đơn hàng
                                                      </h2>
                                                      <p
                                                            class="text-base sm:text-xl font-medium text-gray-800 dark:text-neutral-200">
                                                            {{selectedShipment?.notes}}
                                                      </p>
                                                </div>

                                          </div>

                                    </div>


                                    <!-- End Header -->
                              </div>


                              <div class="flex justify-around ">
                                    <button type="button" (click)="closeShipmentInforModal()"
                                          class="w-32 rounded-2xl border-b-2 border-b-gray-300 bg-white  py-2 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                          <i class="fa-solid fa-xmark"></i> Đóng
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>
      </p-dialog>
</div>