@if (isMapVisibleSignal()) {
<app-map [isVisible]="isMapVisibleSignal()" (dataEmitter)="receivedMapData($event)"></app-map>

}
@if (isDirectionMapVisibleSignal()) {
<app-direction-map [isVisible]="isDirectionMapVisibleSignal()"
      (dataEmitter)="receivedDirectionMapData($event)"></app-direction-map>
}
<div class="card flex justify-content-center">
      <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
            [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'" />
</div>
<div class="min-h-screen bg-gray-100 flex flex-col items-center p-4">
      <div
            class="max-w-6xl w-full bg-white rounded-lg shadow-lg mt-20 p-8 transition-transform transform hover:scale-105 duration-300">
            <div class="flex items-center mb-8 border-b pb-4">
                  <img class="w-32 h-32 rounded-full border-4 border-blue-300 shadow-lg mr-6 transition-transform duration-300 hover:scale-110"
                        src="https://ui-avatars.com/api/?name={{userInfoSignal()?.username}}&background=0D8ABC&color=fff"
                        alt="User Avatar">
                  <div>
                        <h2 class="text-4xl font-semibold text-gray-800">{{ userInfoSignal()?.username }}</h2>
                        <p class="text-gray-600 text-lg">{{ userInfoSignal()?.emailAddress }}
                              @if(userInfoSignal()?.isEmailAddressVerified) {
                              <i class="fa-regular fa-circle-check text-green-500"></i>
                              } @else {
                              <i class="fa-regular fa-circle-xmark text-red-500"></i>
                              }
                        </p>
                        <p class="text-gray-600 text-lg">{{ userInfoSignal()?.roles }}</p>
                  </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                  <div
                        class="bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 duration-300 border border-gray-400">
                        <h3 class="font-semibold text-xl text-gray-800 mb-4">Personal Information</h3>
                        <div class="flex justify-between mb-2">
                              <span class="text-gray-600 pr-3">Name:</span>
                              <span class="text-gray-900">{{ userInfoSignal()?.username }}</span>
                        </div>
                        <div class="flex justify-between mb-2">
                              <span class="text-gray-600 pr-3">Email:</span>
                              <span class="text-gray-900">{{ userInfoSignal()?.emailAddress }}
                                    @if(userInfoSignal()?.isEmailAddressVerified) {
                                    <i class="fa-regular fa-circle-check text-green-500"></i>
                                    } @else {
                                    <i class="fa-regular fa-circle-xmark text-red-500"></i>
                                    }
                              </span>
                        </div>
                        @if (userInfoSignal()?.newEmailAddress ) {
                        <div class="flex justify-between mb-2">
                              <span class="text-gray-600 pr-3">New email:</span>
                              <span class="text-gray-900">{{ userInfoSignal()?.newEmailAddress }}
                                    <i class="fa-regular fa-circle-xmark text-red-500"></i>
                              </span>
                        </div>
                        }
                        <div class="flex justify-between mb-2">
                              <span class="text-gray-600">Role:</span>
                              <span class="text-gray-900">{{ userInfoSignal()?.roles }}</span>
                        </div>
                        <div class="flex flex-wrap justify-between md:flex-nowrap mt-10">
                              <div class="w-full md:w-1/2  p-1 md:mt-0 text-right my-1">
                                    <button
                                          class=" rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
                                          (click)="openVerifyEmailModal()">
                                          <i class="fas fa-edit mr-1"></i> Verify email
                                    </button>
                              </div>
                              <div class="w-full md:w-1/2  p-1  md:mt-0 text-right my-1">
                                    <button
                                          class=" rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
                                          (click)="openChangeEmailModal()">
                                          <i class="fas fa-edit mr-1"></i> Change email
                                    </button>
                              </div>
                        </div>

                  </div>

                  <div class="space-y-5">
                        <div
                              class="bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 duration-300 border border-gray-400">
                              <h3 class="font-semibold text-xl text-gray-800 mb-4 ">Localtion <i
                                          pTooltip="We determine your location based on your coordinates, not your address!"
                                          class="fa-solid fa-circle-info text-blue-600 pl-2 cursor-pointer"></i></h3>
                              <div class="flex justify-between mb-2">
                                    <span class="text-gray-600 pr-3">Address:</span>
                                    <span class="text-gray-900">{{ userInfoSignal()?.address }}</span>
                              </div>
                              <div class="flex items-center justify-end">
                                    <button
                                          class="w-fit mt-3 rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
                                          (click)="openChangeAddressModal()">
                                          <i class="fa-solid fa-location-dot"></i> Choose location
                                    </button>
                              </div>


                        </div>
                        <div
                              class="bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 duration-300 border border-gray-400">
                              <h3 class="font-semibold text-xl text-gray-800 ">Account Settings</h3>
                              <div class="flex items-center justify-end">
                                    <button
                                          class="w-fit mt-3 rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
                                          (click)="openChangePasswordModal()">
                                          <i class="fas fa-lock mr-1"></i> Change Password
                                    </button>
                              </div>

                        </div>
                  </div>

            </div>

            <div class="pt-6">
                  <div class="bg-white p-6 rounded-lg shadow-md transition-transform border border-gray-400">
                        <h3 class="font-semibold text-xl text-gray-800 mb-4">Others</h3>

                  </div>

            </div>
      </div>


      <!-- Modal for Change email address -->
      <p-dialog header="Change email address" [(visible)]="isChangeEmailModalOpenSignal" [modal]="true"
            [closable]="false" [styleClass]="' p-4 rounded-2xl bg-white'"
            [breakpoints]=" { '1199px' : '75vw' , '575px' : '90vw' }" [draggable]="false" [resizable]="false"
            [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                  <div
                        class="inline-flex align-items-center justify-content-center gap-2 border-b-2 border-gray-400 shadow-md">
                        <span class="font-bold white-space-nowrap text-xl ">
                              Change email address
                        </span>
                  </div>
            </ng-template>
            <div>
                  <form [formGroup]="changeEmailForm" (ngSubmit)="submitChangedEmailModal($event)">
                        <div class="mt-2 space-y-10">
                              <div class="space-y-2">
                                    <div
                                          class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                                          <input type="text" placeholder="New email address"
                                                class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
                                                formControlName="emailAddress" />
                                    </div>
                                    @if (isChangeEmailFormFieldValid("emailAddress"))
                                    {
                                    @if (changeEmailForm.get('emailAddress')?.errors?.['emailInvalid']) {
                                    <div class="pl-5 text-sm text-red-600">Email is invalid.</div>
                                    }
                                    @else {
                                    <div class="pl-5 text-sm text-red-600">Email is required.</div>
                                    }
                                    }
                              </div>
                              <div class="flex justify-around">
                                    <button type="button" (click)="closeChangedEmailModal()"
                                          class="w-32 rounded-2xl border-b-2 border-b-gray-300 bg-white  py-2 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                          <i class="fa-solid fa-xmark"></i> Cancel
                                    </button>

                                    <button type="submit"
                                          class="w-32 rounded-2xl border-b-2 border-b-blue-600 bg-blue-500  py-2 font-bold text-white ring-2 ring-gray-300 hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                                          <i class="fa-solid fa-check"></i> Save
                                    </button>
                              </div>
                        </div>
                  </form>
            </div>
      </p-dialog>

      <!-- Modal for Verify email address -->
      <p-dialog header="Verify email address" [(visible)]="isVerifyEmailModalOpenSignal" [modal]="true"
            [closable]="false" [styleClass]="' p-4 rounded-2xl bg-white'"
            [breakpoints]=" { '1199px' : '75vw' , '575px' : '90vw' }" [draggable]="false" [resizable]="false"
            [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                  <div
                        class="inline-flex align-items-center justify-content-center gap-2 border-b-2 border-gray-400 shadow-md">
                        <span class="font-bold white-space-nowrap text-xl ">
                              Verify email address
                        </span>
                  </div>
            </ng-template>
            <div>
                  <div>
                        <div class="mt-2 space-y-10">
                              <div class="space-y-2">
                                    <div
                                          class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                                          <input type="text" placeholder="Veriication code"
                                                class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
                                                [formControl]="verificationCode" />
                                    </div>

                                    @if (isRequiredVerificationCodeSignal())
                                    {
                                    <div class="flex items-center justify-center">
                                          <div class="pl-5 text-sm text-red-600">Please check your email and enter the
                                                code.</div>
                                    </div>
                                    }
                                    <div class="flex items-center justify-center cursor-pointer !mt-5">
                                          <button type="button" (click)="sendVerificationCode()"
                                                class="w-32 rounded-2xl border-b-2 border-b-gray-300 bg-white  py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                                <i class="fa-regular fa-paper-plane"></i> Send again
                                          </button>
                                    </div>
                              </div>
                              <div class="flex justify-around ">
                                    <button type="button" (click)="closeVerifyEmailModal()"
                                          class="w-32 rounded-2xl border-b-2 border-b-gray-300 bg-white  py-2 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                          <i class="fa-solid fa-xmark"></i> Cancel
                                    </button>

                                    <button type="button" (click)="submitVerifyEmailModal($event)"
                                          class="w-32 rounded-2xl border-b-2 border-b-blue-600 bg-blue-500  py-2 font-bold text-white ring-2 ring-gray-300 hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                                          <i class="fa-solid fa-check"></i> Verify
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>
      </p-dialog>

      <!-- Modal for Changing Password -->
      <p-dialog header="Change password" [(visible)]="isChangePasswordModalOpenSignal" [modal]="true" [closable]="false"
            [styleClass]="' p-4 rounded-2xl bg-white'" [breakpoints]=" { '1199px' : '75vw' , '575px' : '90vw' }"
            [draggable]="false" [resizable]="false" [style]="{ width: '30rem' }">
            <ng-template pTemplate="header">
                  <div
                        class="inline-flex align-items-center justify-content-center gap-2 border-b-2 border-gray-400 shadow-md">
                        <span class="font-bold white-space-nowrap text-xl ">
                              Change password
                        </span>
                  </div>
            </ng-template>
            <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangedPasswordModal($event)">
                  <div class="mt-2 space-y-6">
                        <div class="space-y-2">
                              <div
                                    class="flex w-full items-center rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                                    <input [type]="isShowOldPassword() ? 'text' : 'password'" placeholder="Old password"
                                          formControlName="oldPassword"
                                          class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" />
                                    <div class="h-8 cursor-pointer pr-2 flex items-center"
                                          (click)="toggleOldPassword()">
                                          @if (isShowOldPassword()) {
                                          <i class="fa-regular fa-eye-slash"></i>
                                          } @else {
                                          <i class="fa-regular fa-eye"></i>
                                          }
                                    </div>
                              </div>
                              @if (isChangePasswordFormFieldValid("oldPassword"))
                              {
                              <div class="pl-5 text-sm text-red-600">Password is required.</div>
                              }
                        </div>
                        <div class="space-y-2">
                              <div
                                    class="flex w-full items-center rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                                    <input [type]="isShowNewPassword() ? 'text' : 'password'" placeholder="New password"
                                          formControlName="newPassword"
                                          class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" />
                                    <div class="h-8 cursor-pointer pr-2 flex items-center"
                                          (click)="toggleNewPassword()">
                                          @if (isShowNewPassword()) {
                                          <i class="fa-regular fa-eye-slash"></i>
                                          } @else {
                                          <i class="fa-regular fa-eye"></i>
                                          }
                                    </div>
                              </div>
                              @if (isChangePasswordFormFieldValid("newPassword"))
                              {
                              @if (changePasswordForm.get('newPassword')?.errors?.['required']) {
                              <div class="pl-5 text-sm text-red-600">Confirm Password is required.</div>
                              } @else {
                              <div class="pl-5 text-sm text-red-600">Confirm Password is invalid.</div>
                              }
                              }
                        </div>
                        <div class="flex justify-around">
                              <button type="button" (click)="closeChangePasswordModal()"
                                    class="w-32 rounded-2xl border-b-2  border-b-gray-300 bg-white   py-2 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                    <i class="fa-solid fa-xmark"></i> Cancel
                              </button>

                              <button type="submit"
                                    class="w-32 rounded-2xl border-b-2 border-b-blue-600 bg-blue-500   py-2 font-bold text-white ring-2 ring-gray-300 hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                                    <i class="fa-solid fa-check"></i> Save
                              </button>
                        </div>
                  </div>

            </form>
      </p-dialog>

      <!-- Modal for Change user address-->
      <p-dialog header="Change user address" [(visible)]="isChangeAddressModalOpenSignal" [modal]="true"
            [closable]="false" [styleClass]="' p-4 rounded-2xl bg-white'"
            [breakpoints]=" { '1199px' : '75vw' , '575px' : '90vw' }" [draggable]="false" [resizable]="false"
            [style]="{ width: '40rem' }">
            <ng-template pTemplate="header">
                  <div
                        class="inline-flex align-items-center justify-content-center gap-2 border-b-2 border-gray-400 shadow-md">
                        <span class="font-bold white-space-nowrap text-xl ">
                              Change user address
                        </span>
                  </div>
            </ng-template>
            <div>
                  <div>
                        <div class="mt-2 space-y-10">
                              @if (userCoordinatesWithAddressSignal()) {
                              <div class="space-y-5">
                                    <div class="flex justify-center mb-2 ">
                                          <span class="text-gray-600 pr-3 text-xl">Address:</span>
                                          <span class="text-gray-900 text-xl">{{
                                                userCoordinatesWithAddressSignal()?.address
                                                }}</span>
                                    </div>
                                    <div
                                          class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                                          <input type="text" placeholder="House number, street name, ..."
                                                [formControl]="additonalAddress"
                                                class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" />
                                    </div>
                              </div>
                              } @else {
                              <div class="space-y-2">

                                    <div class="flex items-center justify-center">
                                          <button type="button"
                                                class="w-fit mt-3 rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-1 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
                                                (click)="openMapModal()">
                                                <i class="fa-solid fa-location-dot"></i> Choose location
                                          </button>
                                    </div>
                                    @if (isRequiredChooseLocaltionSignal())
                                    {
                                    <div class="flex items-center justify-center">
                                          <div class="pl-5 text-sm text-red-600">Please choosse your location.</div>
                                    </div>
                                    }
                              </div>

                              }
                              <div class="flex justify-around">
                                    <button type="button" (click)="closeChangeAddressModal()"
                                          class="w-32 rounded-2xl border-b-2 border-b-gray-300 bg-white  py-2 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">
                                          <i class="fa-solid fa-xmark"></i> Cancel
                                    </button>

                                    <button (click)="submitChangedAddressModal($event)"
                                          class="w-32 rounded-2xl border-b-2 border-b-blue-600 bg-blue-500  py-2 font-bold text-white ring-2 ring-gray-300 hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400">
                                          <i class="fa-solid fa-check"></i> Save
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>
      </p-dialog>
</div>